<!-- <button (click)="createPost()" class="btn btn-primary">Create</button>
<button (click)="deletePost()" class="btn btn-secondary">Delete me</button>
<table class="table table-striped">
  <thead>
    <tr>
      
      <th scope="col">id</th>
      <th scope="col">Title</th>
      <th scope="col">Title</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts">
      <td>{{post.id}}</td>
      <td>{{post.title}}</td>
      <td>{{post.body}}</td>
    </tr>
    
  </tbody>
</table> -->
<h1>Posts component works  .....</h1>
