<!-- <p>
  home works!
</p>
<a [routerLink]="['/contact',1234]">click me</a>


<h1>Count is {{counter}}</h1>
<app-contact incrimentName="+1" decrimentName="-1" (countChange)="onCountChange($event)" ></app-contact>
<br/><br/>
<app-contact incrimentName="+1" decrimentName="-1" (countChange)="onCountChange($event)"></app-contact>
<br><br><br>
<button class="btn btn-warning" (click)="redirect(10)">Redirect</button>
<br>
<br> -->
<form [formGroup]="form" (ngSubmit)="login()">
  
  <div formGroupName="account">
      <div *ngIf="form.errors">Invalid username and passowrd</div>
  <label for="f_name">First name</label>
  <input id="f_name" formControlName="firstName" type="text"/><br>
  <div *ngIf="f_name.pending" class="alert alert-danger">checking for Errors</div>
  <div *ngIf="f_name.invalid && f_name.touched" >
    <div *ngIf="f_name.errors.required" class="alert alert-danger">some input is required</div>
    <div *ngIf="f_name.errors.minlength" class="alert alert-danger">Minimum length of 4 is required</div>
    <div *ngIf="f_name.errors.cannotContainSpace" class="alert alert-danger">should not contain space</div>
    <div *ngIf="f_name.errors.usernameShouldBeUnique" class="alert alert-danger">Username Should be unique</div>
  </div>

  <label for="l_name">Last Name</label>
  <input id="l_name" formControlName="lastName" type="text"/><br>
</div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <button class="btn btn-secondary" (click)="getValue()">get value</button>
</form>